:root{
    font-size: 0.625em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none

}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cv-hero {
    flex-grow: 1;
    background-color: grey;
    height: 40rem;
}

#cv-main{
    /* margin-top: 8rem;
    margin-bottom: 10rem; */
    margin: 8rem 3rem 10rem;
    display: grid;
    gap: 2.5%;
    /* grid-template-columns: 100%; */

    font-size: 1.1rem;
    max-width: 90rem;

}

.cv-section{
    max-width: 60rem;
    border: 2px solid #CCC;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    padding: 2.5rem;
    justify-content: space-around;
    height: fit-content;
}

.cv-section p {
    line-height: 1.5rem;
    margin-bottom: 5rem;
}

.cv-section h1, .cv-section h2, .cv-section h3 {
    font-family: Lato;
    line-height: 4rem;
}

.section-small {
    background: repeating-linear-gradient(
        45deg,
        #ffffff,
        #ffffff 3px,
        #eee 4px,
        #eee 4px,
        #ffffff 5px,
        #ffffff 10px
        );
}

.cv-section h2, .cv-section h3{
    font-weight: 400;
}

.cv-section h2{
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}

.cv-section h3{
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
}

#personal-data {
    font-weight: 400;
    font-size: 1.4rem;
    font-family: 'Lato';
}

#personal-data ul li + li {
    margin-top: 1.5rem;
}

.cv-section > ul {
    display: flex;
}

.cv-section > ul li {
    margin-right: 0.75rem;
}

.cv-section > ul li::after {
    content: '|';
    margin-left: 0.75rem;
}

.cv-section p, .cv-section ul {
    margin-bottom: 1.3rem;
}

#img-self-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#img-self-container img{
    display: block;
    width: 100%;
    max-width: 40rem;
    border-radius: 50%;
}

.icon-container {
    font-size: 2.5rem;
    width: fit-content;
}

.big-icon {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.small-icon {
    font-size: 2.25rem;
}

.cv-section > .icon-container i::after{

    display: block;
    width: 50%;
    height: 1px;
    background-color: black;
    content: '';
}

.links-download {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.links-download ul {
    display: flex;
}

.links-download li{
    margin-right: 1rem;
}

/* Mobile First -> Primeiro dispositivos móveis */

@media (min-width: 768px) {
    :root{
        font-size: 0.625em;
    }
    #cv-main {
        grid-template-columns: 32% 32% 32%;
        gap: 2%;
        margin: 8rem 2rem 10rem;
    }

    .section-big {
        grid-column: span 2;
    }

    .cv-section {
        order: 2;
        max-width: 90rem;
    }

    .cv-section:nth-child(2) {
        order: 1;
    }

}
@media (min-width: 990px) {
    :root{
        font-size: 0.8em;
    }
}

@media (min-width: 1400px) {
    :root{
        font-size: 0.8em;
    }
}


